.list-group .list-group-item {
  border-left-width: 0;
  border-right-width: 0;
  height: 65px;
}
.list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0
}
.list-group .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.action-buttons .btn {
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.action-buttons .button-placeholder {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
